h1 {
    text-align: center;
    font-size: 36pt;
    color: black;
    margin-bottom: 5px;
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-size: 24pt;
    color: black;
    margin-bottom: 5px;
}

body {
    width: 100%;
}

html {
    width: 100%;
}

/*div {
    width: 100%;
}*/

table {
    margin: 5px;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 3px;
}

td {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black;
}

#coinTable {
    width: 100%;
}

.platinumRow {
    background-color: #fff2ff;
}

.goldRow {
    background-color: #ffe699;
}

.silverRow {
    background-color: #e6e6e6;
}

.copperRow {
    background-color: #ffd670;
}

.totalRow {
    background-color: antiquewhite;
    border-top: solid black;
}

.placeButton{
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

#containerTable{
    text-align: center;
}
