@{
    ViewData["Title"] = "Home Page";
}
@model PartyInventoryManger.Models.Wallet



<head>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />
    <script> src="~/js/HomeScript.js" type="text/javascript" </script>
</head>

<div class="row">
    <h1>Welcome to the Party Inventory Manager</h1>
    <div class="col-md-4">
        <h2>Look per Container</h2>
        <!-- A graphical thing (or list for now) that shows all ther person's containers. clicking will take to the container-->
        <table id="containerTable">
            <tr>
               <td> <button class="placeButton">Home</button></td> 
                <td><button class="placeButton">Backpack</button></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <h2>All Your Shit</h2>
        <!-- table that displays all the persons stuff-->
        <table >
            <tr >
                <th>Item</th>
                <th>Quantity</th>
                <th>Location</th>
                <th>Weight</th>
            </tr>
        </table>
    </div>
    <div class="col-md-2">
        <h2>Coin Purse</h2>
        <!--shows the person's cash, add spend here?-->
        <table id="coinTable">

            @{ 
                int i = 0;
                foreach (CurrencyCount currencyCount in Model.Funds)
                {
                    <tr style="background-color: @currencyCount.Currency.Color; ">
                        <td>
                            @Html.EditorFor(o => o.Funds[i].Currency.Name)
                        </td>
                        <td>
                            @Html.EditorFor(o => o.Funds[i].Quantity)
                        </td>
                    </tr>
                    i++;
                }
                <tr class="totalRow">
                    <td>Total</td>
                    <td> @PartyInventoryManger.Controllers.CoinPurseController.GetTotalFunds(Model)</td>
                </tr>
            }
        </table>

        <button onclick="AddGoldOnClick()">Add a Gold</button>
        <button>Remove a Gold</button>
    </div>
</div>

